body {
    background-color: transparent;
}

main {
    width:100%;
}


/* START Header Section */
header {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/images/hero.png');
    background-size:cover;
    background-position: right;
    background-repeat: no-repeat;
}
.header-content {
    width:60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-title{
    text-align: center;
    color:#b0c4de;
    filter: drop-shadow(0 0 2rem black);
}
.header-text {
    color:#decab0;
    text-align: center;
    filter: drop-shadow(0 0 2rem black);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* END Header Section */

/* START About Section */
#about {
    width: 100%;
    height: fit-content;
}

.icon {
    height:50%;
    object-fit:fill;
    
}

#about-container {
    width: 90%;
    margin: 0 auto;
}

.about-box {
    height:300px;
    border-radius: 15px;
    background-color: #A7A7A7;
    padding: 20px;
    min-width: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-box > p,h3 {
    text-align: center;
}
/* END About Section */

/* START Testimonial Section */
#testimonials {
    width:100%;
    height: fit-content;
}

#testimonial-container {
    width:90%;
    margin: 0 auto;
    padding-bottom: 25px;
}

#testimonials h2 {
    width: 90%;
    margin: 0px auto;
    padding: 10px;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:200px;
    border-radius: 15px;
    background-color: #A7A7A7;
    padding: 20px;
    min-width: 300px;
    text-align: center;
    margin: 20px;
    width: 30%;
}

.testimonial h5 {
    width: 85%;    
}

#caption {
    font-size:small;
    font-style: italic;
}
/* END Testimonial Section */



/* Media Queries */

@media only screen and (min-width: 600px) {
    header {
        height: 100vh;
        width: 100vw;
        background-image: url('./assets/images/hero.png');
        background-size:cover;
        background-repeat: no-repeat;
        
    }
   
    .header-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-title{
        font-size:10rem;
        text-align: center;
        color:lightsteelblue;
        filter: drop-shadow(0 0 2rem black);
    }
    .header-text {
        width:80%;
        margin: 0 auto;
        color:white;
        text-align: center;
        padding:0 2vw 2vw 2vw;
        filter: drop-shadow(0 0 2rem black);
    }
    
    #testimonial-container {
        display: flex;
        flex-direction: row;

    }
    #about-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
      }

}


